version: "3.8"

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile.prod
    # Publish port 80 to the host
    ports:
      - "80:80"
    env_file:
      - .env
    restart: unless-stopped
