name: Push
on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up environment
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          source venv/bin/activate
          pip install -r requirements.txt
      - name: Load environment variables
        run: |
          source venv/bin/activate
          set -o allexport
          source .env.prod
          set +o allexport
      # - name: Run tests
      #   run: |
      #     source venv/bin/activate
      #     set -o allexport
      #     source .env.prod
      #     set +o allexport
      #     pytest --cov=./ --cov-report=xml tests
      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v2

  # code-quality:
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       python-version: ["3.10"]
  #       os: [ubuntu-latest]
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-python@v3
  #       with:
  #         python-version: ${{ matrix.python-version }}
  #     - name: Set up environment
  #       run: |
  #         python -m venv venv
  #         source venv/bin/activate
  #         python -m pip install --upgrade pip
  #     - name: Install dependencies
  #       run: |
  #         source venv/bin/activate
  #         pip install -r requirements.txt
  #     - name: Load environment variables
  #       run: |
  #         source venv/bin/activate
  #         set -o allexport
  #         source .env.prod
  #         set +o allexport
  # - name: Run black
  #   run: |
  #     source venv/bin/activate
  #     black . --check
  # - name: Run isort
  #   run: |
  #     source venv/bin/activate
  #     isort . --check-only --profile black
  # - name: Run flake8
  #   run: |
  #     source venv/bin/activate
  #     flake8 .
  # - name: Run bandit
  #   run: |
  #     source venv/bin/activate
  #     bandit .
  # - name: Run safety
  #   run: |
  #     source venv/bin/activate
  #     safety check
